@value smallScreen from '../../common/size.css';

.home {
  width: 100%;
  height: 100vh;
  padding: 0em 10em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lake {
  width: 60%;
  height: 100vh;
}

.write {
  width: 30%;
  height: 100vh;
}

@media screen and (max-width: smallScreen) {
  .home {
    height: 100%;
    padding: 10em 0 5em 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  .write {
    width: 100%;
    height: 30%;
  }
  .lake {
    width: 100%;
    height: 70%;
  }
}
