@value makerWhite, makerYellow, makerGrey, makerShadow from '../../common/colors.css';
@value makerRadius from '../../common/size.css';

.button {
  border: none;
  border-radius: makerRadius;
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: makerShadow;
  color: makerGrey;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: makerWhite;
  background-color: makerYellow;
}

.text {
  margin-left: 1rem;
}
