@value makerYellow, makerGrey, makerShadow from '../../common/colors.css';
@value makerRadius, smallScreen from '../../common/size.css';

.write {
  flex-basis: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 15em;
  height: 2em;
  color: makerGrey;
  font-size: 1.5rem;
  text-align: center;
}

.form {
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emotions {
  width: 15em;
  height: 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type='radio'] + label {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
[type='radio'] + label:hover {
  animation: move 0.1s infinite ease-in-out alternate-reverse;
}
[type='radio']:checked + label {
  animation: toBig 3s ease-in-out backwards;
}

@keyframes move {
  from {
    transform: rotate(0.05turn);
  }
  to {
    transform: rotate(-0.05turn);
  }
}
@keyframes toBig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.img1 {
  content: url(https://lofs.netlify.app/img/small1.png);
}
.img2 {
  content: url(https://lofs.netlify.app/img/small2.png);
}
.img3 {
  content: url(https://lofs.netlify.app/img/small3.png);
}
.img4 {
  content: url(https://lofs.netlify.app/img/small4.png);
}
.img5 {
  content: url(https://lofs.netlify.app/img/small5.png);
}

.textInput {
  width: 13em;
  height: 10em;
  font-size: 1rem;
  border: none;
  resize: none;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: makerRadius;
  color: makerBlack;
  margin: 1rem 0;
}

.textInput:focus {
  outline: none;
  box-shadow: makerShadow;
}

@media screen and (max-width: smallScreen) {
  .write {
    padding-bottom: 5rem;
  }

  .title {
    color: makerGrey;
    font-size: 1.3rem;
  }
}
