@value makerYellow, makerBlack, makerShadow from '../../common/colors.css';
@value makerRadius, smallScreen from '../../common/size.css';

.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: makerBlack;
  font-size: 1.5rem;
}

.emotions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15rem;
  height: auto;
  margin: 1rem 0;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type='radio'] + label {
  width: 4rem;
  cursor: pointer;
}
[type='radio'] + label:hover {
  animation: move 0.1s infinite ease-in-out alternate-reverse;
}
[type='radio']:checked + label {
  animation: toBig 3s ease-in-out backwards;
}

@keyframes move {
  from {
    transform: rotate(0.05turn);
  }
  to {
    transform: rotate(-0.05turn);
  }
}
@keyframes toBig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.img1 {
  content: url(http://localhost:3000/img/small1.png);
}
.img2 {
  content: url(http://localhost:3000/img/small2.png);
}
.img3 {
  content: url(http://localhost:3000/img/small3.png);
}
.img4 {
  content: url(http://localhost:3000/img/small4.png);
}
.img5 {
  content: url(http://localhost:3000/img/small5.png);
}

.textInput {
  font-size: 1rem;
  border: none;
  resize: none;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: makerRadius;
  color: makerBlack;
  margin-top: 1rem;
}

.textInput:focus {
  outline: none;
  box-shadow: makerShadow;
}

@media screen and (max-width: smallScreen) {
  .button {
    margin-bottom: 10em;
  }
}
