@value makerWhite, makerYellow, makerShadow from '../../common/colors.css';
@value makerRadius from '../../common/size.css';

.header {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  top: 0;
  box-sizing: border-box;
  box-shadow: makerShadow;
  background-color: makerWhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.logo {
  height: 3rem;
}

.logout {
  border: none;
  border-radius: makerRadius;
  padding: 0.5rem 1rem;
  background-color: makerYellow;
  color: makerWhite;
  cursor: pointer;
}
