@value smallScreen from '../../common/size.css';

.content {
  width: 50vw;
  height: 70vh;
  background-color: pink;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: smallScreen) {
  .content {
    width: 70vw;
    height: 80vh;
  }
}

.emotion1 {
  width: 100%;
  height: 20%;
  background-color: lightgoldenrodyellow;
}
.emotion2 {
  width: 100%;
  height: 20%;
  background-color: rgb(202, 255, 202);
}
.emotion3 {
  width: 100%;
  height: 20%;
  background-color: rgb(216, 157, 255);
}
.emotion4 {
  width: 100%;
  height: 20%;
  background-color: lightskyblue;
}
.emotion5 {
  width: 100%;
  height: 20%;
  background-color: rgb(255, 158, 147);
}
