@value smallScreen from '../../common/size.css';

.content {
  width: 50vw;
  height: 70vh;
  background-color: pink;
}

@media screen and (max-width: smallScreen) {
  .content {
    width: 70vw;
    height: 80vh;
  }
}

.emotion1 {
  width: 100%;
  height: 20%;
  background-color: rgb(255, 255, 155);
}
.emotion2 {
  width: 100%;
  height: 20%;
  background-color: rgb(179, 255, 179);
}
.emotion3 {
  width: 100%;
  height: 20%;
  background-color: rgb(227, 193, 255);
}
.emotion4 {
  width: 100%;
  height: 20%;
  background-color: rgb(106, 106, 255);
}
.emotion5 {
  width: 100%;
  height: 20%;
  background-color: rgb(255, 147, 147);
}
