@value makerYellow, makerWhite, makerGrey from '../../common/colors.css';
@value smallScreen, makerRadius from '../../common/size.css';

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: makerYellow;
}

.title {
  font-size: 2.2rem;
}

.buttons {
  width: 20em;
  height: 15em;
  background-color: makerWhite;
  border-radius: makerRadius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: smallScreen) {
  .buttons {
    width: 15em;
  }
}

.button {
  width: 8em;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid makerGrey;
  border-radius: makerRadius;
  background-color: transparent;
  color: makerGrey;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: makerYellow;
  border: 2px solid makerYellow;
  box-shadow: inset 0px 0px 0px 3px makerYellow;
}

.button.google {
  margin-bottom: 1rem;
}
