@value makerYellow, makerWhite, makerGrey from '../../common/colors.css';
@value makerRadius from '../../common/size.css';

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: makerYellow;
}

.title {
  font-size: 2.2rem;
}

.buttons {
  width: 20em;
  height: 15em;
  background-color: makerWhite;
  border-radius: makerRadius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 8em;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid makerGrey;
  border-radius: makerRadius;
  background-color: transparent;
  color: makerGrey;
}

.button.google {
  margin-bottom: 1rem;
}
